/* General Styles */
body {

    margin: 0;
    padding: 0;


}


/* Sección de Login */
.login {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Asegura que ocupe toda la altura del viewport */
    overflow: hidden;
 /* Añade un pequeño padding para evitar bordes pegados */
}

/* Fondo */
.background .fondo-web {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
    z-index: -1;
    opacity: 0.3;
}

/* Mensaje de bienvenida */
.SayHi{
    text-align: center; 
    margin-bottom: 20px; 
}

.SayHi h1 {
    font-size: 3.5rem;
    font-family: "Fractul", sans-serif;
    font-weight: 700;
    color: #0F1020;
    text-align: center;
    margin-bottom: 20px;
}

.SayHi h1 .highlightLogin {
    color: #4037FF;
}

/* Formulario de inicio de sesión */





.login-form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    gap: 20px; 
}

.input-wrapper-login {
    width: 100%;
    max-width: 600px;
    align-items: center;
    justify-content: center; 
}

.input-wrapper-login input {

    padding: 12px 25px; 
    border-radius: 25px;
    border: 2px solid #4037FF;
    outline: none;
    font-size: 1rem;
    font-family: "Outfit", sans-serif;
    color: #5A23AD;
    background-color: rgba(255, 255, 250, 0.8);
    transition: all 0.3s ease;
    margin-bottom: 5%;

}



.input-wrapper input:focus {
    border-color: #BAF241;
    background-color: #FFFFFF;
}

/* Botón de envío */
.login-form form .button_login {
    width: 100%; 
    max-width: 400px; 
    padding: 12px 25px;
    border-radius: 25px;
    border: none;
    background-color: #4037FF;
    color: #FFFFFF;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;
    font-weight: 100;
}




.button_login:hover {
background-color: #0F1020;
transform: translateY(-2px);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
font-weight: 100;
}

.button_login a {
color: #FFFFFF;
text-decoration: none;
font-weight: 100;
font-size: 1.2em;
}

/* Círculo verde como separador */
.greenCircle {
width: 100px;
height: 100px;
border-radius: 50%;
background-color: #BAF241;
display: flex;
align-items: center;
justify-content: center;
margin: 30px auto;
position: relative;
z-index: 1;
}

.greenCircle .alternativa {
font-family: "Outfit", sans-serif;
font-size: 1.5rem;
color: #0F1020;
font-weight: bold;
}

/* Botón Gmail */
.google-login {
width: 100%;
display: flex;
justify-content: center;
margin: 20px 0;
}

.button_google {
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
padding: 12px 25px;
border-radius: 25px;
border: 2px solid #4037FF;
background-color: white;
font-size: 1rem;
font-family: "Outfit", sans-serif;
color: #4037FF;
cursor: pointer;
transition: all 0.3s ease;
}

.button_google:hover {
background-color: #4037FF;
color: #FFFFFF;
transform: translateY(-2px);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.google-icon {
width: 20px;
height: 20px;
}

/* Paginador decorativo */
.pagination-dots {
display: flex;
justify-content: center;
gap: 10px;
margin: 20px 0;
}

.pagination-dots-login .dot {
width: 10px;
height: 10px;
background-color: #ffffff;
border-radius: 50%;
transition: all 0.3s ease;
}

.pagination-dots .dot.active {
background-color: #BAF241;
transform: scale(1.2);
}

/* Texto de registro */


.signup-prompt  {
text-align: center;
align-items: center;
color: #4037FF;
font-size: 1.7em;
text-decoration: none;
font-weight: bold;
margin-bottom: 4%;
margin-top: 5%;
}


/* Botón Regístrate */
.button_register {
width: 100%;
padding: 12px 25px;
border-radius: 25px;
border: none;
background-color: #4037FF;
color: #FFFFFF;
font-size: 1rem;
cursor: pointer;
transition: all 0.3s ease;
text-align: center;
font-weight: 100;
}

.button_register a {
color: #FFFFFF;
text-decoration: none;
font-weight: 100;
font-size: 1.2em;
}

.button_register:hover {
background-color: #0F1020;
transform: translateY(-2px);
}
