
body, html {
  margin: 0;
  padding: 0;
  min-height: 100vh; 
  display: flex;
  flex-direction: column; 
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Asegura que el footer quede al final */
.footer {
  margin-top: auto; /* Empuja el footer hacia abajo si no hay suficiente contenido */
}
